{% extends "base.html.twig" %} 
{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Sales By Farmer</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            {{include('dashboard/_main-form.html.twig')}}
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-8">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h5">Order amount over time</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                
                        <a href="">
                            <button onclick="window.print()" type="button" class="btn btn-sm btn-outline-secondary">
                                Print PDF
                            </button>
                        </a>
                        <a href="{{path('exp_csv',{'farmerId':farmerId, 'startDate':startDate|date('Y-m-d') , 'endDate':endDate|date('Y-m-d') })}}">
                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                Export CSV
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-5">
            {{ render_chart(orders_time_line, {'id': 'orders_time_line','name' :'orders_time_line'}) }}
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h5">Quanty of product over time</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>
            <div class="p-5">
            {{render_chart(product_time_line,{'id': 'product_time_line','name' :'product_time_line'})}}
            </div>
        
        </div>
    </div>
    <section class="bg-light">
        <div class="container cwidth"> 
            <div class="align-items-center justify-content-center row background-info">
                {% for product in product_total %}
                    <div class="col-lg-3 col-sm-6 pb-3 pt-3">
                        <div class="align-items-center d-flex text-dark">
                            <img src="{{ asset('images/icon-polling-station.png') }}" class="d-inline-block align-top img-fluid" alt="">
                            <div class="padding-info align-items-center">
                                <h2 class="value-info">${{product.product_sell_amount}}</h2>
                                <p class="title-info">{{product.product_name}} - {{product.product_activity}}</p>
                                    {% set datePost = endDate|date('d-m-Y') %}
                                    {% set datePre =  startDate|date('d-m-Y') %}
                                    {% set difference = date(datePre).diff(date(datePost))%}
                                    {% set leftDays = difference.days %}
                                    {% set avg = product.product_sell_amount / leftDays %}
                                <p class="title-info">${{ avg|round(2,'floor') }} average per day</p>
                            </div>
                        </div>                         
                    </div>
                {% endfor %} 
            </div>                 
        </div>
    </section>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h5>Sales Details Table</h5>
        <div class="btn-toolbar mb-2 mb-md-0">
            
        </div>
    </div>
    <div class="table-responsive">
        {{include('dashboard/_table-farmer-sell.html.twig')}}
    </div>
    
{% endblock %}  
  
